<b>1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [4]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as f:
    f.write(test1)

<b>2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [5]:
with open('test.txt', 'r') as f:
    test2 = f.read()

In [6]:
test1, test2

('This is a test of the emergency text system,',
 'This is a test of the emergency text system,')

In [7]:
assert test1 == test2

test1 and test2 are same

<b>3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [8]:
rows = [['title', 'author', 'year'],
['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
['Perdido Street Station', 'China Miéville', 2000],
['Thud!', 'Terry Pratchett', 2005],
['The Spellman Files', 'Lisa Lutz', 2007],
['Small Gods', 'Terry Pratchett', 1992]]

import csv
with open('books.csv', 'w') as f:
    csv_writer = csv.writer(f, delimiter=',', lineterminator='\n')
    csv_writer.writerows(rows)

<b>4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [37]:
import sqlite3

conn = sqlite3.connect('books.db')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS books')
conn.commit()

query = '''CREATE TABLE IF NOT EXISTS books(title text,
            author text,
            year integer)'''

cur.execute(query)
conn.commit()

<b>5. Read books.csv and insert its data into the book table.

In [38]:
with open('books.csv', 'r') as f:
    csv_reader = csv.reader(f)
    for n, row in enumerate(csv_reader):
        if n != 0:
            cur.execute(f'INSERT INTO books VALUES("{row[0]}", "{row[1]}", {row[2]})')
            
conn.commit()

<b>6. Select and print the title column from the book table in alphabetical order.

In [44]:
cur.execute('SELECT title FROM books ORDER BY title')
for res in cur.fetchall():
    print(res[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

<b>7. From the book table, select and print all columns in the order of publication.

In [48]:
cur.execute('SELECT * FROM books ORDER BY year')
for res in cur.fetchall():
    print(res)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

<b>8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [52]:
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///books.db')
connection = engine.connect()

2022-05-24 00:03:24,779 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-05-24 00:03:24,781 INFO sqlalchemy.engine.base.Engine ()
2022-05-24 00:03:24,785 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-05-24 00:03:24,787 INFO sqlalchemy.engine.base.Engine ()